.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 118px 48px;
}

.photo-grid__item {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
  }

  .photo-grid__item {
    max-width: 352px;
  }
}

@media (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 16px;
  }

  .photo-grid__item {
    max-width: 100%;
  }
}
